html div    {

}

.jumbotron  {
    padding: 25px;
    background-color: lightgray;

}

.card-body  {
    background-color: lightgray;
}


.row    {
    padding: 25px;
}

#locations td {
    padding-right: 50px;
    padding-bottom: 25px;
}

#team td {
    vertical-align: top;
    padding-right: 25px;
    padding-bottom: 25px;
}

#filters label   {
    margin: 5px;
}

#landing-image  {
    object-fit: cover;
    width: 100%;
    height: 200px;
}